<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log - Raymond Fong How</title>
    <bric>css_links</bric>
</head>
<body>
    <header>
        <div class="header_image">
            <!-- <img src="assets/images/index/studio-cover.png" alt="studio-cover"> -->
        </div>
        <bric>main_nav_bar</bric>
    </header>
    <bric>nav_bar_script</bric>
    <main class="index_main">
        <section class="coming_soon">
            <p>Hello World.</p>
        </section>
    </main>
</body>
</html>
